<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTC</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <h1>Crack The Code</h1>
    <form action="/start" method="POST">
        <div>
            <label for="codeLength">Nombre de chiffres dans le code :</label>
            <input type="number" id="codeLength" name="codeLength" min="3" max="10" value="<%= LastCodeLength %>" required>
        </div>

        <div>
            <label for="attempts">Nombre d'essais :</label>
            <input type="number" id="attempts" name="attempts" min="3" max="30" value="<%= LastAttempts %>" required>
        </div>

        <button type="submit">Commencer le jeu</button>
    </form>
</body>
</html